.CodeMirror-code > :not(.CodeMirror-activeline) {
  .cm-formatting-link {
    /* this is for the double square brackets on internal links */
    display: none;
  }

  .cm-formatting, .cm-comment, .cm-formatting-escape {
    /* this gets most formatting */
    display: none;
  }
  .cm-formatting.cm-hashtag-begin {
    /* I think we want to see hashes on tags */
    display: inline;
  }

  .cm-formatting-link-string.cm-url + .cm-url {
    /* external links are a bit dodgy at the moment */
    /* you can't ctrl+click on a url you can't see... */
    width: 14px;
    height: 1em;
    padding-left: 18px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    &::before{
      /* putting in the arrow icon from the default theme */
      content: "";
      background-color: var(--text-muted);
      -webkit-mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyBjbGFzcz0naS1leHRlcm5hbCcgdmlld0JveD0nMCAwIDMyIDMyJyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIGZpbGw9J25vbmUnIHN0cm9rZT0nIzg4ODg4OCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2Utd2lkdGg9JzkuMzglJz48cGF0aCBkPSdNMTQgOSBMMyA5IDMgMjkgMjMgMjkgMjMgMTggTTE4IDQgTDI4IDQgMjggMTQgTTI4IDQgTDE0IDE4Jy8+PC9zdmc+DQo=");
      display: inline-block;
      width: 14px;
      height: 14px;
      position: absolute;
      left:4px;
      bottom:0;
    }
  }

  .cm-formatting-image ~ .cm-url {
    /* indicate hyperlinked image (thanks loikein) */
    font-size: 1.5em;
    &::after {
      content: "\01f5bc";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 0.8em;
    }
  }

  pre.HyperMD-hr {
    /* hide hr breaks */
    visibility: hidden;
  }

  .HyperMD-hr-bg {
    /* but show hr as a line */
    visibility: visible;
    content: '';
    width:100%;
    height: 2px;
    display: block;
    background-color: var(--background-modifier-border);
    /* (thanks loikein) */
    margin: auto;
  }

  .HyperMD-list-line, &.HyperMD-list-line { 
    .cm-formatting-list-ul {
      display: inline;
      font-size:0;
      &::before {
        font-size: 1rem;
      }

      &.cm-list-1 {
        &::before {
          /* 1st level ul bullet */
          content: '•';
          padding-right: 0.2em;
        }
      }
      &.cm-list-2::before {
        /* 2nd level ul bullet */
        content: '◦';
        padding-right: 0.2em;
      }
      &.cm-list-3::before {
        /* 3rd level ul bullet */
        content: '▪';
        padding-right: 0.4em;
      }
    }
    .cm-formatting-list-ol + span {
      margin-left: 1.5em;
      &::before {
        /* ol bullet */
        display: inline-block;
        width: 1em;
        margin-left: -1.6em;
        text-align: right;
        direction: rtl;
        overflow: visible;
        white-space: nowrap;
      }
    }
  }
  @for $i from 1 through 10 {
    .HyperMD-list-line-#{$i}, &.HyperMD-list-line-#{$i} {
      .cm-formatting-list-ol + .cm-list-#{$i} {
        &::before {
          content: "." counter(ol-#{$i});
        }
      }

      /* show checkbox in editor (thanks loikein) */
      .cm-formatting-task.cm-property + .cm-list-#{$i} {
        &::before {
          // checked box
          // using U+2612 ☒ BALLOT BOX WITH X because
          // U+2611 ☑ BALLOT BOX WITH CHECK is a graphical emoji these days
          // the 'X' one is more consistent with U+2610 ☐ BALLOT BOX
          // and in code you put an 'x' in the box to check it
          content: "\02612";
        }
      }
      .cm-formatting-task.cm-meta + .cm-list-#{$i} {
        &::before {
          // unchecked box: U+2610 ☐ BALLOT BOX
          content: "\02610";
        }
      }
    }
  }
  
  /* blockquote left border (thanks loikein) */
  .HyperMD-quote, &.HyperMD-quote {
    &, &:not(.HyperMD-quote-1) .cm-quote:not(.cm-formatting) {
      border-left: 5px solid var(--background-modifier-border);
      text-indent: 0 !important;
      padding-left: 1em !important;
    }
    &:not(.HyperMD-quote-1) .cm-quote:not(.cm-formatting) {
      display: inline-block;
    }
  }
}

.CodeMirror-line:not(.HyperMD-list-line){
  counter-reset: ol-1;
}
@for $i from 1 through 10 {
  .HyperMD-list-line-#{$i} {
    $j: $i+1;
    counter-reset: ol-#{$j};
    .cm-formatting-list-ol + .cm-list-#{$i} {
      counter-increment: ol-#{$i};
    }
  }
}